@import "../global/variables";
body {
	background-color: $body-color;
}
h1 {
	margin-left: -8%;
    font-weight: bold;
    margin-top: 5%;
    font-size: 368%;
}
.h5, h5 {
    font-size: 3.25rem;
    font-weight: 800;
}
h2 {
	text-align:center;
}
p {
	font-weight: bold;
}
