//colores del body
$body-color:  #ffeff9;
//colores del carrusel
$carrousel-color: #5e7fb5;
$primary-color: #fcba03;
$secundary-color: #fcba03;
//colores del formulario
$form-color: #fcba03;
$text-form-color: #00aae4;
$send-color: #003319;
$send-hover-color: #006633;
//grid
$grid-color: #fcba03;
$grid-size: 100%;
//linear gradient
$gradient-left: #2BC0E4;
$gradient-right:#EAECC6;
//logo
$logo-size: 270px;
//logo mobile 
$logo-mobile: 200px;
//footer mobile
$division: #eb1316;